<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spy</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>

<body>
    <h1 class="title has-text-primary is-1"
        style="margin-top: 8%; align-self: center; text-align: center; font-size: 8em;">
        Create Room</h1>

    <form id="enterForm" action="/enterwaitingroom" method="POST">
        <input id="usernameData" type="hidden" name="username"></input>
        <input type="hidden" name="uId" value={{uId}}></input>
        <input id="roomIdData" type="hidden" name="roomId"></input>
        <input id="rconpassData" type="hidden" name="rconpass" value=""></input>
    </form>


    <input id="usernameInput" name="username" class="input" placeholder="Name"
        style="margin-top: 7%; margin-left: 35%; width: 30%; text-align: center; font-size:3em;"></input>

    <input type="button" onclick="createRoom()" class="button is-primary"
        style="margin-top: 1%; margin-left: 35%; width: 30%; text-align: center; font-size:3em"
        value="Create Room"></input>


</body>


<script>
    var input = document.getElementById("usernameInput");
    input.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            createRoom()
        }
    });

    document.getElementById("usernameInput").focus();

    //this function creates a room and AFTER ITS DONE it submits the form
    function createRoom() {
        let http_request = new XMLHttpRequest();
        http_request.open('GET', '/createroom', false);
        http_request.send();

        let roomId = http_request.responseText.split(",")[0];
        let Rconpass = http_request.responseText.split(",")[1];

        document.getElementById("roomIdData").value = roomId;
        document.getElementById("rconpassData").value = Rconpass;
        document.getElementById("usernameData").value = document.getElementById("usernameInput").value

        //submit the form and join the room like a normal user
        //like a normal user except i have the rconpass from the creation action (line 29)
        document.getElementById("enterForm").submit()
    }
</script>

</html>