<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spy</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>

<body>
    <div class="is-centered">


        <section class="section is-hidden-mobile"></section>
        <section class="section"></section>


        <section class="hero is-primary is-bold">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title is-size-1 has-text-centered">
                        Spy
                    </h1>
                    <!----
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="../res/logo.jpg" alt="logo">
                    </figure>
                -->
                </div>
            </div>
        </section>

        <form action="/getjoinpage" method="POST">
            <ul class="menu-list is-centered">
                <div class="columns is-centered">
                    <div class="column is-half has-text-centered">
                        <li><input type="tel" id="roomId"
                                class="input is-primary has-text-centered is-rounded mt-6 is-size-4"
                                placeholder="Room ID" name="roomId" autocomplete="off" required></input></li>

                        <li><button class="button is-primary is-rounded mt-2 is-size-4" type="submit">Join</button>
                        </li>
                        <li><button class="button is-link is-rounded mt-2 is-size-4"
                                onclick="window.location.href='/getcreatepage'">Create a Room</button></li>

                    </div>
                </div>

            </ul>
        </form>

    </div>

</body>

{% if error %}
<input id="errormessageContainer" type="hidden" value="{{ errormessage }}"></input>
<script>
    alert(document.getElementById("errormessageContainer").value)
</script>
{% endif %}

<script>
    document.getElementById("roomId").focus();
</script>

</html>