<html>
    <body>
        <h1>Join to room number: {{roomid}}</h1>

        <form action="/enterwaitingroom" method="POST">
            <input id ="usernameInput" name="username"></input>
            <input type="hidden" name="uId" value="{{ uId }}"></input>
            <input type="hidden" name="roomId" value="{{ roomid }}"></input>
            <input type="hidden" name="rconpass" value=""></input>

            <input type="submit" value="join"></input>
        </form>


    </body>

    <script>
        document.getElementById("usernameInput").focus();
    </script>
    
</html>