<html>
    <body>
        <h1>you are {{ username }}</h1>

        {% if isspy%}
            <h1>you are innocent</h1>
            <h1>the location is {{ location }}</h1>
        {% else %}
            <h1>you are the spy!</h1>
        {% endif %}

        <input id="useridContainer" type="hidden" value="{{ userid }}"></input>
        <input id="roomidContainer" type="hidden" value="{{ roomid }}"></input>
        <input id="generalinfoContainer" type="hidden" value="pass"></input>
        <h1>room {{ roomid }}</h1>
        
        <ul id="membersList">
            {% for user in members %}
            <li>
                {{ user.getName() }}
            </li>
            {% endfor %}
        </ul>


    </body>

    <script>

        function getMembers(){
            let list = document.getElementById("membersList");
            let members = list.getElementsByTagName("li");

            let arrMembers = Array.prototype.slice.call( members )
            return arrMembers.map(x => x.innerText);
        }

        function reRender(newMembers,leftMembers){
            console.log('rerender')
            let list = document.getElementById("membersList")

            newMembers.forEach(m => {
                var li = document.createElement("li");
                li.appendChild(document.createTextNode(m));
                list.appendChild(li);
            });

            let members = list.getElementsByTagName("li");
            let arrMembers = Array.prototype.slice.call( members )
            arrMembers.forEach(m => {
                if(leftMembers.includes(m.innerText))
                    list.removeChild(m)
                    
            });
            
        }


        function handleResponse(response){

          
       }
   </script>

    <script src="/static/scripts/pings.js"></script>

   
</html>